Rozdział 7 - zadanie posumowujące
Wyświetl wszystkie wiersze, w których city lub email jest puste.
Usuń wiersze, w których email jest brakujący lub niepoprawny. 
Uzupełnij braki w quantity zerem.
Uzupełnij braki w city wartością "unknown". 
Zmień literówki w product
Uzupełnij braki w price medianą danego produktu :)
Zmień nazwy kolumn id_zamówienia, id_klienta na odpowiednio order_id, customer_id (rename). :)
Usuń duplikaty po order_id (drop_duplicates). :)
Zamień w kolumnie returned wartości "yes", "YES", "1" na True, a "no", "No", "0" na False (replace). :)
Utwórz nową kolumnę wartość = price * quantity.  :) 
Podziel kolumnę price na 4 przedziały (cut): bardzo tanie, tanie, średnie, drogie. Dodaj nową kolumnę z tym podziałem. :)
Podziel kolumnę wartość na kwartyle (qcut). Dodaj nową kolumnę z tym podziałem. :)
Oczyść city z dodatkowych spacji, i ustaw pierszą literę dużą, a resztę małe (.str.strip().str.capitalize()). ;)
Oczyść city z literówek. :)
Z email wyodrębnij domenę (część po @) (.str.extract). :)
Sprawdź, które coupon zawierają rok 2024 (.str.contains). :)
Zamień product i city na typ kategoryczny. Ustal kolejność produktów (Categorical). :)
Utwórz zmienne zero-jedynkowe dla product (get_dummies). :)
Zmień order_date tak, aby wszędzie była tylko data bez godziny :)
Zmień quantity na typ całkowity z obsługą braków (Int64). 
Zmień returned na typ logiczny (boolean).
Zmień email na typ tekstowy (string).
Porównaj zużycie pamięci (info(memory_usage="deep")) przed i po zmianach.

In [1]:
import pandas as pd
import numpy as np
orders = pd.read_csv('orders_raw.csv')

In [2]:
# Displaying rows where city or/and email are empty.
orders[orders[['city', 'email']].isna().any(axis=1)]

,id_zamówienia,id_klienta,order_date,city,email,product,price,quantity,rating,coupon,returned,comment
3,1082,226,2024-03-06,NaN,ala715@yahoo.com,Keyboard,NaN,5.0,1.0,NaN,True,fast fast late problem refund return refund
13,1008,207,2024-02-16 00:00:00,Szczecin,NaN,Headphones,242.02,4.0,2.0,BLACKFRIDAY-2023-DE,0,late perfect fast great ok fast late
14,1005,202,2024-04-10,Poznan,NaN,Headphones,444.43,7.0,5.0,BLACKFRIDAY-2023-DE,0,great perfect
15,1000,238,2024-02-21,NaN,piotr666@yahoo.com,Keyboard,266.97,5.0,2.0,WINTER-2024-UK,yes,problem fast return refund
16,1013,206,2024-01-09,NaN,tom657@example.org,Laptop,3074.85,4.0,3.0,BLACKFRIDAY-2024-PL,no,ok refund late ok
21,1077,215,2024-04-26 00:00:00,NaN,jan571@example.org,Keyboard,333.58,3.0,4.0,NaN,1,return ok
37,1081,206,2024-02-15,Lodz,NaN,Keyboard,642.25,2.0,1.0,summer_2024_de,yes,great fast fast
43,1011,239,2024-03-25 00:00:00,NaN,ala708@outlook.com,Keyboard,594.59,2.0,5.0,WELCOME-DE,no,fast refund ok
44,1045,230,2024-04-08,Gdansk,NaN,Monitor,2375.75,1.0,4.0,spring_2024_de,YES,return perfect late problem problem great
53,1076,218,2024-02-18 00:00:00,kraków,NaN,Monitor,1151.21,6.0,4.0,blackfriday_2025_pl,yes,perfect return fast fast
66,1054,236,2024-04-06,Szczecin,NaN,Keybaord,44.93,NaN,4.0,blackfriday_2025_de,no,refund great refund late fast perfect late
75,1018,214,2024-01-15 00:00:00,Krakow,NaN,Smartphone,3563.91,2.0,4.0,NaN,1,return great refund problem problem ok
85,1076,218,2024-02-18 00:00:00,kraków,NaN,Monitor,1847.55,6.0,4.0,blackfriday_2025_pl,yes,perfect return fast fast
94,1116,213,2024-03-30 00:00:00,NaN,annagmail,Monitor,334.64,7.0,2.0,VIP-2023-PL,0,refund ok return late ok late
103,1080,222,2024-04-02,Wroclaw,NaN,Headphones,1096.43,1.0,5.0,BLACKFRIDAY2025US,yes,fast refund return problem return perfect perfect
110,1046,220,2024-02-01 00:00:00,NaN,tom371@gmail.com,Charger,23.21,2.0,6.0,NaN,0,return great problem
122,1102,211,2024-03-05,NaN,ala524@outlook.com,Mouse,68.29,4.0,5.0,WINTER-UK,True,late problem perfect perfect refund return ok

In [3]:
# Defining a regular expression pattern to validate email addresses and keeping only rows where email matches the pattern
import re
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
orders = orders[orders['email'].str.match(pattern, na=False, flags=re.IGNORECASE)]
orders

,id_zamówienia,id_klienta,order_date,city,email,product,price,quantity,rating,coupon,returned,comment
0,1004,224,2024-02-18,Lodz,piotr20@gmail.com,Headphones,119.69,4.0,4.0,welcome_2023_pl,yes,ok ok great return great problem problem
2,1090,209,2024-04-05,Poznan,jan467@outlook.com,Mouse,180.68,2.0,4.0,WELCOME-PL,YES,perfect return great great perfect
3,1082,226,2024-03-06,NaN,ala715@yahoo.com,Keyboard,NaN,5.0,1.0,NaN,True,fast fast late problem refund return refund
5,1028,200,2024-01-19 00:00:00,Wroclaw,anna590@example.org,Mouse,363.44,6.0,NaN,spring_2024_pl,No,return perfect ok fast
6,1029,216,2024-02-07,wroclav,ala332@gmail.com,Keyboard,74.80,4.0,2.0,NaN,0,return great late late return return great
...,...,...,...,...,...,...,...,...,...,...,...,...
122,1102,211,2024-03-05,NaN,ala524@outlook.com,Mouse,68.29,4.0,5.0,WINTER-UK,True,late problem perfect perfect refund return ok
124,1092,226,2024-04-27,Poznan,tom177@yahoo.com,Charger,155.30,1.0,1.0,welcome_2025_pl,False,refund fast
125,1066,234,2024-02-02,Krakow,anna427@example.org,Laptop,2029.48,4.0,NaN,NaN,False,return ok
126,1109,222,2024-02-24 00:00:00,kraków,anna132@gmail.com,Charger,54.92,4.0,4.0,WELCOME-PL,No,great ok
127,1089,202,2024-01-17 00:00:00,Wroclaw,anna171@yahoo.com,chargerr,32.01,1.0,3.0,BLACKFRIDAY2025US,No,ok return great refund late

In [4]:
# Changing Na values to 0 in quantity and to unknown in city
orders = orders.fillna({'quantity': 0, 'city':'unknown'})
orders[10:20]

,id_zamówienia,id_klienta,order_date,city,email,product,price,quantity,rating,coupon,returned,comment
12,1024,202,2024-04-12,Lodz,anna742@example.org,Mouse,345.27,5.0,1.0,BLACKFRIDAY-2025-UK,No,problem refund refund refund
15,1000,238,2024-02-21,unknown,piotr666@yahoo.com,Keyboard,266.97,5.0,2.0,WINTER-2024-UK,yes,problem fast return refund
16,1013,206,2024-01-09,unknown,tom657@example.org,Laptop,3074.85,4.0,3.0,BLACKFRIDAY-2024-PL,no,ok refund late ok
17,1074,212,2024-01-23,Poznan,kasia573@onet.pl,Laptop,1808.69,0.0,1.0,WELCOME-PL,1,refund great fast great return perfect late
18,1071,228,2024-04-29 00:00:00,Szczecin,tom280@outlook.com,Moniter,24.05,1.0,5.0,WELCOME2023US,YES,perfect great refund refund perfect fast
19,1063,230,2024-01-10,Lodz,ala394@example.org,Smar tphone,12.00,3.0,2.0,winter_2024_uk,no,problem return
20,1105,217,2024-01-30,Lodz,tom866@wp.pl,chargerr,38.21,4.0,1.0,BLACKFRIDAY2024PL,0,fast late refund late return late return
21,1077,215,2024-04-26 00:00:00,unknown,jan571@example.org,Keyboard,333.58,3.0,4.0,NaN,1,return ok
22,1031,235,2024-01-19,Szczecin,tom552@onet.pl,Smar tphone,18.48,3.0,3.0,BLACKFRIDAY-US,0,ok problem ok fast return
23,1053,221,2024-02-18 00:00:00,Wroclaw,ala666@wp.pl,Moniter,44.73,2.0,3.0,WINTER-UK,False,perfect fast perfect return great

In [5]:
# Changing polish column names to english
orders = orders.rename(columns={"id_zamówienia": 'order_id', 'id_klienta': 'customer_id'})
orders

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment
0,1004,224,2024-02-18,Lodz,piotr20@gmail.com,Headphones,119.69,4.0,4.0,welcome_2023_pl,yes,ok ok great return great problem problem
2,1090,209,2024-04-05,Poznan,jan467@outlook.com,Mouse,180.68,2.0,4.0,WELCOME-PL,YES,perfect return great great perfect
3,1082,226,2024-03-06,unknown,ala715@yahoo.com,Keyboard,NaN,5.0,1.0,NaN,True,fast fast late problem refund return refund
5,1028,200,2024-01-19 00:00:00,Wroclaw,anna590@example.org,Mouse,363.44,6.0,NaN,spring_2024_pl,No,return perfect ok fast
6,1029,216,2024-02-07,wroclav,ala332@gmail.com,Keyboard,74.80,4.0,2.0,NaN,0,return great late late return return great
...,...,...,...,...,...,...,...,...,...,...,...,...
122,1102,211,2024-03-05,unknown,ala524@outlook.com,Mouse,68.29,4.0,5.0,WINTER-UK,True,late problem perfect perfect refund return ok
124,1092,226,2024-04-27,Poznan,tom177@yahoo.com,Charger,155.30,1.0,1.0,welcome_2025_pl,False,refund fast
125,1066,234,2024-02-02,Krakow,anna427@example.org,Laptop,2029.48,4.0,NaN,NaN,False,return ok
126,1109,222,2024-02-24 00:00:00,kraków,anna132@gmail.com,Charger,54.92,4.0,4.0,WELCOME-PL,No,great ok
127,1089,202,2024-01-17 00:00:00,Wroclaw,anna171@yahoo.com,chargerr,32.01,1.0,3.0,BLACKFRIDAY2025US,No,ok return great refund late

In [6]:
# Showing duplicates in order_id column
orders[orders.duplicated(subset='order_id')]

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment
74,1015,227,2024-01-07,Poznan,kasia692@outlook.com,Laptop,6550.96,4.0,2.0,SPRING2023PL,False,late perfect
86,1034,201,2024-01-01,Krakow,kasia10@onet.pl,Mouse,154.36,3.0,3.0,SPRING-2025-DE,True,return refund late perfect
114,1113,233,2024-02-18,Gdańsk,jan140@outlook.com,Mouse,263.10,2.0,1.0,VIP2025US,no,fast ok
126,1109,222,2024-02-24 00:00:00,kraków,anna132@gmail.com,Charger,54.92,4.0,4.0,WELCOME-PL,No,great ok
127,1089,202,2024-01-17 00:00:00,Wroclaw,anna171@yahoo.com,chargerr,32.01,1.0,3.0,BLACKFRIDAY2025US,No,ok return great refund late

In [7]:
# Removing duplicates in order_id column
orders = orders.drop_duplicates(subset='order_id')
orders

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment
0,1004,224,2024-02-18,Lodz,piotr20@gmail.com,Headphones,119.69,4.0,4.0,welcome_2023_pl,yes,ok ok great return great problem problem
2,1090,209,2024-04-05,Poznan,jan467@outlook.com,Mouse,180.68,2.0,4.0,WELCOME-PL,YES,perfect return great great perfect
3,1082,226,2024-03-06,unknown,ala715@yahoo.com,Keyboard,NaN,5.0,1.0,NaN,True,fast fast late problem refund return refund
5,1028,200,2024-01-19 00:00:00,Wroclaw,anna590@example.org,Mouse,363.44,6.0,NaN,spring_2024_pl,No,return perfect ok fast
6,1029,216,2024-02-07,wroclav,ala332@gmail.com,Keyboard,74.80,4.0,2.0,NaN,0,return great late late return return great
...,...,...,...,...,...,...,...,...,...,...,...,...
120,1083,216,2024-03-11,Lodz,anna580@gmail.com,Laptop,6958.18,0.0,4.0,NaN,1,return great great ok
121,1017,234,2024-04-10 00:00:00,Wroclaw,tom457@outlook.com,Charger,39.90,2.0,3.0,vip_2024_uk,1,problem refund
122,1102,211,2024-03-05,unknown,ala524@outlook.com,Mouse,68.29,4.0,5.0,WINTER-UK,True,late problem perfect perfect refund return ok
124,1092,226,2024-04-27,Poznan,tom177@yahoo.com,Charger,155.30,1.0,1.0,welcome_2025_pl,False,refund fast
125,1066,234,2024-02-02,Krakow,anna427@example.org,Laptop,2029.48,4.0,NaN,NaN,False,return ok

In [8]:
# Unifying vales in returned column (boolean values)
orders = orders.copy()
orders['returned'] = orders['returned'].replace({"yes": True, "YES": True, "1": True, 
                                                "no": False, "No": False, "0": False, 
                                                 "True": True, 'False': False})
orders[15:25]

/tmp/ipykernel_4025/3377535720.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  orders['returned'] = orders['returned'].replace({"yes": True, "YES": True, "1": True,

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment
19,1063,230,2024-01-10,Lodz,ala394@example.org,Smar tphone,12.00,3.0,2.0,winter_2024_uk,False,problem return
20,1105,217,2024-01-30,Lodz,tom866@wp.pl,chargerr,38.21,4.0,1.0,BLACKFRIDAY2024PL,False,fast late refund late return late return
21,1077,215,2024-04-26 00:00:00,unknown,jan571@example.org,Keyboard,333.58,3.0,4.0,NaN,True,return ok
22,1031,235,2024-01-19,Szczecin,tom552@onet.pl,Smar tphone,18.48,3.0,3.0,BLACKFRIDAY-US,False,ok problem ok fast return
23,1053,221,2024-02-18 00:00:00,Wroclaw,ala666@wp.pl,Moniter,44.73,2.0,3.0,WINTER-UK,False,perfect fast perfect return great
24,1093,219,2024-03-17,Krakow,ola863@onet.pl,Monitor,536.56,3.0,5.0,welcome_2023_us,True,fast return late perfect return return perfect
25,1110,202,2024-04-05,Wroclaw,kasia491@gmail.com,Headphones,741.26,3.0,5.0,vip_2023_us,False,perfect problem fast
26,1015,227,2024-01-08 00:00:00,Poznan,kasia692@outlook.com,Laptop,2163.36,4.0,2.0,SPRING2023PL,False,late perfect
27,1035,219,2024-01-24,Szczecin,ala703@yahoo.com,m ouse,44.49,1.0,4.0,BLACKFRIDAY2025US,True,problem fast problem fast
29,1019,231,2024-04-12,kraków,kasia679@gmail.com,Laptop,-10.25,6.0,5.0,vip_2023_us,True,great return fast refund problem return

In [9]:
# Fixing typos
product_typos = {'m ouse': 'Mouse', 'Moniter': 'Monitor', 
                 'chargerr': 'Charger', 'Lapotp': 'Laptop', 
                 'Keybaord': 'Keyboard', 'Smar tphone': 'Smartphone', 
                 'headPhones': 'Headphones'}
orders['product'] = orders['product'].replace(product_typos)
orders[14:23]

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment
18,1071,228,2024-04-29 00:00:00,Szczecin,tom280@outlook.com,Monitor,24.05,1.0,5.0,WELCOME2023US,True,perfect great refund refund perfect fast
19,1063,230,2024-01-10,Lodz,ala394@example.org,Smartphone,12.00,3.0,2.0,winter_2024_uk,False,problem return
20,1105,217,2024-01-30,Lodz,tom866@wp.pl,Charger,38.21,4.0,1.0,BLACKFRIDAY2024PL,False,fast late refund late return late return
21,1077,215,2024-04-26 00:00:00,unknown,jan571@example.org,Keyboard,333.58,3.0,4.0,NaN,True,return ok
22,1031,235,2024-01-19,Szczecin,tom552@onet.pl,Smartphone,18.48,3.0,3.0,BLACKFRIDAY-US,False,ok problem ok fast return
23,1053,221,2024-02-18 00:00:00,Wroclaw,ala666@wp.pl,Monitor,44.73,2.0,3.0,WINTER-UK,False,perfect fast perfect return great
24,1093,219,2024-03-17,Krakow,ola863@onet.pl,Monitor,536.56,3.0,5.0,welcome_2023_us,True,fast return late perfect return return perfect
25,1110,202,2024-04-05,Wroclaw,kasia491@gmail.com,Headphones,741.26,3.0,5.0,vip_2023_us,False,perfect problem fast
26,1015,227,2024-01-08 00:00:00,Poznan,kasia692@outlook.com,Laptop,2163.36,4.0,2.0,SPRING2023PL,False,late perfect

In [10]:
# Changing Na and negative values to median
orders.loc[orders['price']<0, 'price'] = pd.NA
orders["price"] = orders["price"].fillna(
    orders.groupby("product")["price"].transform("median")
)
orders[14:23]

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment
18,1071,228,2024-04-29 00:00:00,Szczecin,tom280@outlook.com,Monitor,24.05,1.0,5.0,WELCOME2023US,True,perfect great refund refund perfect fast
19,1063,230,2024-01-10,Lodz,ala394@example.org,Smartphone,12.00,3.0,2.0,winter_2024_uk,False,problem return
20,1105,217,2024-01-30,Lodz,tom866@wp.pl,Charger,38.21,4.0,1.0,BLACKFRIDAY2024PL,False,fast late refund late return late return
21,1077,215,2024-04-26 00:00:00,unknown,jan571@example.org,Keyboard,333.58,3.0,4.0,NaN,True,return ok
22,1031,235,2024-01-19,Szczecin,tom552@onet.pl,Smartphone,18.48,3.0,3.0,BLACKFRIDAY-US,False,ok problem ok fast return
23,1053,221,2024-02-18 00:00:00,Wroclaw,ala666@wp.pl,Monitor,44.73,2.0,3.0,WINTER-UK,False,perfect fast perfect return great
24,1093,219,2024-03-17,Krakow,ola863@onet.pl,Monitor,536.56,3.0,5.0,welcome_2023_us,True,fast return late perfect return return perfect
25,1110,202,2024-04-05,Wroclaw,kasia491@gmail.com,Headphones,741.26,3.0,5.0,vip_2023_us,False,perfect problem fast
26,1015,227,2024-01-08 00:00:00,Poznan,kasia692@outlook.com,Laptop,2163.36,4.0,2.0,SPRING2023PL,False,late perfect

In [11]:
# Calculation of order vaue
orders["order_value"] = orders.price * orders.quantity
orders

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment,order_value
0,1004,224,2024-02-18,Lodz,piotr20@gmail.com,Headphones,119.69,4.0,4.0,welcome_2023_pl,True,ok ok great return great problem problem,478.76
2,1090,209,2024-04-05,Poznan,jan467@outlook.com,Mouse,180.68,2.0,4.0,WELCOME-PL,True,perfect return great great perfect,361.36
3,1082,226,2024-03-06,unknown,ala715@yahoo.com,Keyboard,273.25,5.0,1.0,NaN,True,fast fast late problem refund return refund,1366.25
5,1028,200,2024-01-19 00:00:00,Wroclaw,anna590@example.org,Mouse,363.44,6.0,NaN,spring_2024_pl,False,return perfect ok fast,2180.64
6,1029,216,2024-02-07,wroclav,ala332@gmail.com,Keyboard,74.80,4.0,2.0,NaN,False,return great late late return return great,299.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1083,216,2024-03-11,Lodz,anna580@gmail.com,Laptop,6958.18,0.0,4.0,NaN,True,return great great ok,0.00
121,1017,234,2024-04-10 00:00:00,Wroclaw,tom457@outlook.com,Charger,39.90,2.0,3.0,vip_2024_uk,True,problem refund,79.80
122,1102,211,2024-03-05,unknown,ala524@outlook.com,Mouse,68.29,4.0,5.0,WINTER-UK,True,late problem perfect perfect refund return ok,273.16
124,1092,226,2024-04-27,Poznan,tom177@yahoo.com,Charger,155.30,1.0,1.0,welcome_2025_pl,False,refund fast,155.30
125,1066,234,2024-02-02,Krakow,anna427@example.org,Laptop,2029.48,4.0,NaN,NaN,False,return ok,8117.92

In [12]:
# Dividing the collection into designated baskets
cheap_names = ['very cheap', 'cheap', 'medium', 'expensive']
cheap_bins = [0, 50, 100, 1000, 1000000]
how_cheap = pd.cut(orders.price, cheap_bins, labels=cheap_names)
how_cheap

0          medium
2          medium
3          medium
5          medium
6           cheap
          ...
120     expensive
121    very cheap
122         cheap
124        medium
125     expensive
Name: price, Length: 105, dtype: category
Categories (4, object): ['very cheap' < 'cheap' < 'medium' < 'expensive']

In [13]:
# Dividing a set into quartiles
how_cheap_quartiles = pd.qcut(orders.price, 4, precision=2, labels=cheap_names)
how_cheap_quartiles

0           cheap
2           cheap
3           cheap
5          medium
6           cheap
          ...
120     expensive
121    very cheap
122         cheap
124         cheap
125     expensive
Name: price, Length: 105, dtype: category
Categories (4, object): ['very cheap' < 'cheap' < 'medium' < 'expensive']

In [14]:
# Adding new column how_cheap_quartiles and how_cheap
orders['how_cheap_quartiles'] = how_cheap_quartiles
orders['how_cheap'] = how_cheap
orders.head()

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment,order_value,how_cheap_quartiles,how_cheap
0,1004,224,2024-02-18,Lodz,piotr20@gmail.com,Headphones,119.69,4.0,4.0,welcome_2023_pl,True,ok ok great return great problem problem,478.76,cheap,medium
2,1090,209,2024-04-05,Poznan,jan467@outlook.com,Mouse,180.68,2.0,4.0,WELCOME-PL,True,perfect return great great perfect,361.36,cheap,medium
3,1082,226,2024-03-06,unknown,ala715@yahoo.com,Keyboard,273.25,5.0,1.0,NaN,True,fast fast late problem refund return refund,1366.25,cheap,medium
5,1028,200,2024-01-19 00:00:00,Wroclaw,anna590@example.org,Mouse,363.44,6.0,NaN,spring_2024_pl,False,return perfect ok fast,2180.64,medium,medium
6,1029,216,2024-02-07,wroclav,ala332@gmail.com,Keyboard,74.80,4.0,2.0,NaN,False,return great late late return return great,299.20,cheap,cheap

In [15]:
# Fixing typos in city column
orders['city'] = orders['city'].str.strip().str.capitalize()
city_typos = {'Lodz': 'Łódź', 'Poznan': 'Poznań', 'Wroclav': 'Wrocław', 
              'Wroclaw': 'Wrocław', 'Krakow': 'Kraków', 'Gdansk': 'Gdańsk', 'War szawa': 'Warszawa'}
orders['city'] = orders['city'].replace(city_typos)
orders[14:23]

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment,order_value,how_cheap_quartiles,how_cheap
18,1071,228,2024-04-29 00:00:00,Szczecin,tom280@outlook.com,Monitor,24.05,1.0,5.0,WELCOME2023US,True,perfect great refund refund perfect fast,24.05,very cheap,very cheap
19,1063,230,2024-01-10,Łódź,ala394@example.org,Smartphone,12.00,3.0,2.0,winter_2024_uk,False,problem return,36.00,very cheap,very cheap
20,1105,217,2024-01-30,Łódź,tom866@wp.pl,Charger,38.21,4.0,1.0,BLACKFRIDAY2024PL,False,fast late refund late return late return,152.84,very cheap,very cheap
21,1077,215,2024-04-26 00:00:00,Unknown,jan571@example.org,Keyboard,333.58,3.0,4.0,NaN,True,return ok,1000.74,medium,medium
22,1031,235,2024-01-19,Szczecin,tom552@onet.pl,Smartphone,18.48,3.0,3.0,BLACKFRIDAY-US,False,ok problem ok fast return,55.44,very cheap,very cheap
23,1053,221,2024-02-18 00:00:00,Wrocław,ala666@wp.pl,Monitor,44.73,2.0,3.0,WINTER-UK,False,perfect fast perfect return great,89.46,cheap,very cheap
24,1093,219,2024-03-17,Kraków,ola863@onet.pl,Monitor,536.56,3.0,5.0,welcome_2023_us,True,fast return late perfect return return perfect,1609.68,medium,medium
25,1110,202,2024-04-05,Wrocław,kasia491@gmail.com,Headphones,741.26,3.0,5.0,vip_2023_us,False,perfect problem fast,2223.78,medium,medium
26,1015,227,2024-01-08 00:00:00,Poznań,kasia692@outlook.com,Laptop,2163.36,4.0,2.0,SPRING2023PL,False,late perfect,8653.44,expensive,expensive

In [16]:
# Designating a domain from an email and adding as a new column
orders['domain'] = orders['email'].str.extract(pattern, flags=re.IGNORECASE)[1]
orders.head()

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment,order_value,how_cheap_quartiles,how_cheap,domain
0,1004,224,2024-02-18,Łódź,piotr20@gmail.com,Headphones,119.69,4.0,4.0,welcome_2023_pl,True,ok ok great return great problem problem,478.76,cheap,medium,gmail
2,1090,209,2024-04-05,Poznań,jan467@outlook.com,Mouse,180.68,2.0,4.0,WELCOME-PL,True,perfect return great great perfect,361.36,cheap,medium,outlook
3,1082,226,2024-03-06,Unknown,ala715@yahoo.com,Keyboard,273.25,5.0,1.0,NaN,True,fast fast late problem refund return refund,1366.25,cheap,medium,yahoo
5,1028,200,2024-01-19 00:00:00,Wrocław,anna590@example.org,Mouse,363.44,6.0,NaN,spring_2024_pl,False,return perfect ok fast,2180.64,medium,medium,example
6,1029,216,2024-02-07,Wrocław,ala332@gmail.com,Keyboard,74.80,4.0,2.0,NaN,False,return great late late return return great,299.20,cheap,cheap,gmail

In [17]:
# Showing wich rows in coupon column constains 2024
orders['coupon'].str.contains('2024')

0      False
2      False
3        NaN
5       True
6        NaN
       ...
120      NaN
121     True
122    False
124    False
125      NaN
Name: coupon, Length: 105, dtype: object

In [18]:
# Changing type city and product columns to categorical
orders['city'] = pd.Categorical(orders['city'], ordered=True)
orders['product'] = pd.Categorical(orders['product'], ordered=True)
orders["city"].cat.categories

Index(['Gdańsk', 'Kraków', 'Poznań', 'Szczecin', 'Unknown', 'Warszawa',
       'Wrocław', 'Łódź'],
      dtype='object')

In [19]:
# Showing dummies from city column
pd.get_dummies(orders["city"])

     Gdańsk  Kraków  Poznań  Szczecin  Unknown  Warszawa  Wrocław   Łódź
0     False   False   False     False    False     False    False   True
2     False   False    True     False    False     False    False  False
3     False   False   False     False     True     False    False  False
5     False   False   False     False    False     False     True  False
6     False   False   False     False    False     False     True  False
..      ...     ...     ...       ...      ...       ...      ...    ...
120   False   False   False     False    False     False    False   True
121   False   False   False     False    False     False     True  False
122   False   False   False     False     True     False    False  False
124   False   False    True     False    False     False    False  False
125   False    True   False     False    False     False    False  False

[105 rows x 8 columns]

In [20]:
# Changing on str and living only yyyy-mm-dd 
s = orders['order_date'].astype(str)
date_str = s.str.extract(r'(\d{4}-\d{2}-\d{2})', expand=False)

# Changigng type to date and live only adte without time
orders.loc[:, 'order_date'] = pd.to_datetime(date_str, errors='coerce').dt.date

orders.head()

,order_id,customer_id,order_date,city,email,product,price,quantity,rating,coupon,returned,comment,order_value,how_cheap_quartiles,how_cheap,domain
0,1004,224,2024-02-18,Łódź,piotr20@gmail.com,Headphones,119.69,4.0,4.0,welcome_2023_pl,True,ok ok great return great problem problem,478.76,cheap,medium,gmail
2,1090,209,2024-04-05,Poznań,jan467@outlook.com,Mouse,180.68,2.0,4.0,WELCOME-PL,True,perfect return great great perfect,361.36,cheap,medium,outlook
3,1082,226,2024-03-06,Unknown,ala715@yahoo.com,Keyboard,273.25,5.0,1.0,NaN,True,fast fast late problem refund return refund,1366.25,cheap,medium,yahoo
5,1028,200,2024-01-19,Wrocław,anna590@example.org,Mouse,363.44,6.0,NaN,spring_2024_pl,False,return perfect ok fast,2180.64,medium,medium,example
6,1029,216,2024-02-07,Wrocław,ala332@gmail.com,Keyboard,74.80,4.0,2.0,NaN,False,return great late late return return great,299.20,cheap,cheap,gmail

In [21]:
# Showing type and memory useage before change
print(repr(orders['quantity'].dtype))
print(repr(orders['returned'].dtype))
print(repr(orders['email'].dtype))
orders[['quantity', 'returned', 'email']].memory_usage(deep=True)

dtype('float64')
dtype('bool')
dtype('O')

Index        840
quantity     840
returned     105
email       7713
dtype: int64

In [22]:
# Changing to pandas types and showing type and memory useage  
orders['quantity'] = pd.Series(orders['quantity'], dtype="Int64")
orders['returned'] = pd.Series(orders['returned'], dtype="boolean")
orders['email'] = pd.Series(orders['email'], dtype="string")

print(repr(orders['quantity'].dtype))
print(repr(orders['returned'].dtype))
print(repr(orders['email'].dtype))
orders[['quantity', 'returned', 'email']].memory_usage(deep=True)

Int64Dtype()
BooleanDtype
string[python]

Index        840
quantity     945
returned     210
email       7713
dtype: int64